// **
// Color Scheme 0.0.1
// Scheme from colors for the project
//
// From DEV Undergrond
// Participants: Jonas Sousa, Allef Silva
//
// We use two variables:
// $colors  - Map from colors default from the project.
// $palette - Tonality from the colors primarys, secondarys, etc.
// **

// Project colors
// Map from colors default from the project.

$colors: (
  black:             #000000,
  blackSlim:         #292929,
  blue:              #4C13FF,
  grayStrong:        #707070,
  gray:              #F3F3F3,
  graySlim:          #777777,
  grayLight:         #D1D1D1,
  grayBaby:          #00000029,
  grayBabyLight:     #0000001A,
  grayBabyLightSlim: #00000014,
  orange:            #FC5409,
  orangeSlim:        #FC5F19,
  white:             #ffffff,
	yellow:            #ffb700,
  pink:              #dd2f79,
  pinkSlim:          #e91e63,
  purple:            #6A2AE7,

  // semantic colors
  // sucess, error, information
  btns:(
    primary:   #6A2AE7,
    white:     #fff,
    graySlim: #777777,
    black:     #000,
  ),

  titles:(
    black:    #292929,
    gray:     #292929,
    grayLight:#707070,
    graySlim: #404040,
    orange:   #FC5F19,
    purple:   #6A2AE7,
    white:    #fff,
  ),
	// semantic colors
	// sucess, error, information
	semantic:(
		sucess:  #12bc00,
		info:    #0a84ff,
		warning: #d76e00,
		error:   #d70022
	),
	// default colors
	// brand color, link, button, etc
	main:(
		primary:   #ff2b7c, // brand logo
		secondary: #20a29a, // brand logo sec
    third:     #00bba3, // brand logo third
		link:      #45a1ff
	)
);

// Color = cl
// Colors function
@function cl($color-name, $color-variant: null) {
  // color variant is optional
  @if ($color-variant != null) {
    @if map-has-key($colors, $color-name) {
      @return map-get(map-get($colors, $color-name), $color-variant);
    }
  } @else {
    @return map-get($colors, $color-name);
  }

  @warn "Unknown `#{$color-name}` in $palettes.";
  @return null;
}

// Construction
@mixin make-color($name: color){
  @each $theme in map-keys($colors) {
    @each $length in map-get($colors, $theme) {
      @if ( length($length) >= 2 ) {
        .#{$name}-#{$theme}-#{ nth($length, 1) },
        %#{$name}-#{$theme}-#{ nth($length, 1) }{
          color: nth($length, 2);
        }
      } @else {
        .#{$name}-#{$theme}
        %#{$name}-#{$theme}{
          color: #{ nth($length, 1) };
        }
      }
    }
  }
}

// @include make-color($prefix + 'color');