.#{$prefix}-icon {
    //@include bkgImage('folder.png', cl(btns, orange), no-repeat $i, center, initial, initial );
    width: rem(20);
    height: rem(20);
    float: left;
    
    @include m('folder'){
        @include bkgImage('folder.png', cl(btns, orange), no-repeat $i, center, contain, initial );
    }
    
    @include m('date'){
        @include bkgImage('data.png', cl(btns, orange), no-repeat $i, center, contain, initial );
    }
    
   
}