/*
* Copyright: 2020  
* Desenvolvedor: Bruno Kiedis 
*
* VARIAVEIS
* Definição das variavéis do Tema
* Não remover nenhuma das variavéis para evitar crash do SASS
*/

    /* Prefixo de todo o projeto. */
    $prefix: 'pa';

    /* CSS VARS */
    $i : !important;
    $t : transparent;