.#{$prefix}-component-aside {
    $self: &; 
    display: none; 
    
    @include respond-to(md) {
        width: 35%;
        float: left;  
        display: block; 
    }

    @include respond-to(lg) {
        width: 30%;

    }

    @include e('header') {
        width: 100%;
        margin-bottom: rem(30);
    }

    @include e('title') {

        @include typography(800,30,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin-top: rem(0);
        margin-bottom: rem(15);
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
}

.#{$prefix}-component-aside-recentes {
    display: flex;
    flex-direction: column;
}


.#{$prefix}-component-aside-recentes-article {
    display: flex;
    margin-bottom: rem(30);

    @include e('figure') {
        width: 100%;
        height: rem(140);
        position: relative;
        margin-right: rem(15);
        
        .thumb{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: rem(25);
            border-bottom-right-radius: rem(25);
        }
    }

    @include e('legend') {
        width: 100%;
        
        a {
            text-decoration: none;
        }
    }

    @include e('categoria') {
        @include typography(700,14,$font-secondary);
        line-height: 1;
        display: flex;
        align-items: center;
    
        span {
            margin-left: rem(5);
            margin-top: rem(3);
        }
    }
    
    @include e('title') {
        @include typography(800,20,$font-secondary);
        color: cl(titles, black);
        margin: rem(15) rem(0);

        &:hover {
            color: cl(titles, graySlim);
        }
    }

    @include e('link') {
        @include typography(800,13,$font-secondary);
        color: cl(titles, purple);
        line-height: 1;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        
        .fa-angle-right {
            font-size: rem(20);
            margin-left: rem(3);
        }
        
        &:hover {
            color: cl(titles, orange);
        }
    }
}


// TAGS
.#{$prefix}-component-aside-tags {
    display: flex;
    flex-direction: column;

    .tag {
        @include typography(800,14,$font-secondary);
        color: cl(titles, purple);
        line-height: 1;
        text-decoration: none;
        background: #f4f4f4;
        padding: rem(6) rem(10);
        display: inline-block;
        border-radius: rem(20);
        margin-bottom: rem(5);

        &:hover {
            color: cl(titles, orange);
        }
    }
    
}

// NETWORK
.#{$prefix}-component-aside-network {
    width: 100%;
    float: left;
    margin: rem(30) rem(0);
    
    @include e('midias') {
        width: 100%;
        float: left;
        margin-top: rem(15) ;

        .link {
            @extend %transitionAll;
            font-size: rem(30);
            color: #707070;
            margin-right: rem(15);
            display: inline-block;

            &:hover {
                color: rgb(75,19,252);
                color: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// NEWSLETTER
.#{$prefix}-component-aside-newsletter {
    width: 100%;
    float: left;
   
    @include e('form') {
        width: 100%;
        float: left;
    }
}