.#{$prefix}-footer {
    $self: &;  
    @extend %boxFull;   
    background: cl(gray);
    padding: rem(30) rem(0) rem(0);
    position: relative;
    
    &:before {
        display: none;
        
        @include respond-to(md) {
            content: '';
            position: absolute;
            background: url('../images/before-tese.png') no-repeat;
            height: rem(147);
            width: rem(229);
            right: 7%;
            transform: rotateY(185deg);
            top: rem(-70);
            display: block;
            background-position: center;
           
        }
        
        @include respond-to(wd) {
            top: rem(-70);
        }
    }

    @include respond-to(sm) {
        padding: rem(60) rem(0) rem(0);
    }
    
    @include respond-to(md) {
        padding: rem(90) rem(0) rem(0);
    }
}

.#{$prefix}-section-footer-head {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    

    @include e('title') {
        @include typography(600,45,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin-bottom: rem(30);

        @include respond-to(sm) {
            font-size: rem(45);
        }

        @include respond-to(md) {
            font-size: rem(59);
        }
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
    
}


.#{$prefix}-component-wrap-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to(md) {
        flex-direction: inherit;
    }
}

.#{$prefix}-bar-footer {
    background: #bcbcbc;
    height: 200px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.#{$prefix}-component-wrap-footer-form {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.#{$prefix}-component-parceiros {
    width: 100%;
    float: left;
    
    @include respond-to(sm) {
        width: 50%;
    }
}

.#{$prefix}-component-mantenedores {
    width: 100%;
    float: left;
    
    @include respond-to(sm) {
        width: 48%;
    }
}

.#{$prefix}-component-wrap-footer-marcas {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    justify-content: space-between;
    margin-top: rem(90);
    margin-bottom: 50px;
    
    @include respond-to(md) { 
        flex-direction: row;
        //width: 50%;
        
    }


    @include e('title') {
        @include typography(600,25,$font-secondary);
        text-align: center;        
        color: cl(titles, purple);
        line-height: 1;
        border-bottom: 1px solid rgba(219, 219, 219, 0.9);
        padding-bottom: 15px;
        
        
        @include respond-to(sm) {
            text-align: left;

        }
    
    }
    
}


.#{$prefix}-component-wrap-footer-mantenedores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
    @include respond-to(sm) {
        //flex-direction: row;
        
    }

    @include e('item') {
        width: 50%;
        float: left;
        
        
        @include respond-to(sm) {
            width: 34%;
        }


        .figure {
            height: rem(120);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;


            .thumb {
                width: auto;
            }
        }
    }
}

.#{$prefix}-component-wrap-footer-parceiros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
    
    @include respond-to(sm) {
        margin-top: rem(20);
        //flex-direction: row;
        
    }

    @include e('item') {
        width: 50%;
        float: left;
        
        @include respond-to(sm) {
            width: 20%;
        }

        .figure {
            height: rem(120);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;


            .thumb {
                width: auto;
                max-width: 80%;
            }
        }
    }
}


.#{$prefix}-component-form-contato {
    width: 100%;
    float: left;
    margin-top: rem(30);
    
    @include respond-to(sm) {
        width: 50%;
    }
}

.#{$prefix}-component-wrap-footer-bar {
    display: flex;
    
    @include respond-to(sm) {
    }
    
    @include e('box') {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include respond-to(sm) {
            justify-content: center;
            align-items: inherit;
            flex-direction: row;
        }
    }

    @include e('bar') {
        border: 1px solid #673AB7;
        margin: 0 25px;
    }

    @include e('logo') {
        width: 100%;
        float: left;
        text-align: center;
        
        @include respond-to(sm) {
            text-align: left;
            width: auto;
        }

        .thumb {
            width: auto;
        }
    }
    
    @include e('network') {
        width: 100%;
        float: right;
        display: flex;
        justify-content: center;
        margin-top: rem(25);
        
        @include respond-to(sm) {
            justify-content: flex-end;
            width: auto;
            margin-top: rem(10);
        }

        .link {
            @extend %transitionAll;
            font-size: rem(35);
            color: #fff;
            margin-right: rem(15);
            display: inline-block;

            &:hover {
                color: #fff;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include e('cvtt') {
        text-align: center;
        background: #f3f3f3;
        padding: rem(5);
        border-top: rem(1) solid rgba(55, 55, 55, 0.12);

        .thumb {
            width: auto;
            max-width: 13%;
            
            @include respond-to(sm) {
                max-width: 3%;
            }
        }
    }
}