.#{$prefix}-component-header {
    $self: &;  
    @extend %boxFull; 
    
    @include e('bar') {
        align-items: center;
        background: rgb(75,19,252);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        display: flex;
        height: rem(40);        
        
        @include respond-to(lg) {
            height: rem(56);
        }
    }
    

    @include e('busca') {
        display: none;

        @include respond-to(md) {
            display: block;
            width: 6%;
            float: left;
            text-align: right;
            text-decoration: none;
            font-size: rem(20);
            color: cl(btns,graySlim);
            cursor: pointer;
            
            &:hover {
                color: cl(purple);
            }
        }
    }

    @include e('area-associado') {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to(md) {
            justify-content: flex-end;
        }
        .user {
            font-size: rem(23);
            color: white;
            margin-top: rem(-3);
        }
        .link-associado {
            @include typography(400,12,$font-default);
            color: cl(titles, white);
            letter-spacing: rem(2.7);
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            align-items: center;
            
            .txt {
                margin-left: rem(15);
                transform: perspective(1px) translateZ(0);
                transition-property: color;
                transition-duration: 0.3s;
                vertical-align: middle;
                padding-bottom: rem(3);
                margin-top: rem(3);

              
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-bottom: rem(1) solid cl(btns, white);
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                
                &:hover:before, &:focus:before, &:active:before {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
            
            @include respond-to(md) {
                //font-size: rem(16);
            }
        }
    }
    
    @include e('navegation') {
        @extend %boxFull; 
        box-shadow: 0 0 rem(4) rem(0) rgba(0, 0, 0, 0.31);
    }
    
    @include e('wrap') {
        align-items: center;
        display: flex;
        height: rem(80);
        justify-content: center;
        
        @include respond-to(md) {
            justify-content: space-between;

        }
    }

    @include e('link') {
        max-width: 50%;
        height: auto;
        //height: rem(55);
        width: rem(178);
        
        @include respond-to(sm) {
            max-width: 20%;
        }
        
        @include respond-to(md) {
            max-width: 16%;
        }
        
        @include respond-to(lg) {
            max-width: 13%;
        }
    }

    @include e('praia') {
        width: 100%;
    }

    @include e('nav') {
        display: none;
        
        @include respond-to(md) {
            display: flex;
            align-items: center;
            width: 57%;    
        }

        .menu-header-container {
            width: 100%;
        }

        .fa-times {
            @extend %transitionAll;
            font-size: rem(20);
            color: cl(btns,graySlim);
            cursor: pointer;
            z-index: 999;
        
            &:hover {
                color: cl(purple);
            }
        }
    }
}



.#{$prefix}-component-busca {
    width: 100%;
    position: fixed;
    top: rem(0);
    background: rgba(72, 72, 72, 0.7);
    height: 100%;
    z-index: 9999999999;
    display: none;
    
    .busca {
        position: absolute;
        left: 0;
        width: 100%;
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;

        .close {
            @extend %transitionAll;
            height: auto;
            background: red;
            margin-left: rem(15);
            font-size: rem(20);
            text-decoration: none;
            color: #fff;
            padding: rem(10) rem(12);
            border-radius: rem(4);
            float: left;
            margin-top: rem(-260);

            &:hover {
                background: #f44336;
                color: white;
            }
        }
    }

    .searchandfilter {
        width: 70%;
        float: right;
        margin-top: rem(-260);
       

        ul {
            display: flex;
            align-items: center;

            .sf-field-search {
                width: 100%;
                padding: 0;

                label {
                    width: 100%;
                }

                .sf-input-text {
                    border: 0;
                    padding: rem(9) rem(10);
                    width: 100%;
                    border-right: 0;
                    border-bottom-left-radius: rem(5);
                    border-top-left-radius: rem(5);
                    height: rem(50);
                    font-size: rem(25);
                    color: cl(purple);                    
                    box-shadow: 0 0 rem(10) rem(1) rgba(0, 0, 0, 0.02);
                    border: rem(1) solid rgba(234, 234, 234, 0.9);
        
                    &:focus {
                        background-color: #fff;
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
                    }
                }
            }
            
            .sf-field-submit {
                
                input {
                    @extend %transitionAll;
                    border: 0;
                    height: rem(50);
                    padding: rem(10) rem(25);
                    border-bottom-right-radius: rem(5);
                    border-top-right-radius: rem(5);

                    &:hover {
                        background: cl(purple);
                        color: white;
                    }
                }

                
            }
        }
    }
}