.#{$prefix}-component-menu {
    $self: &;      
    display: none;
    
    @include respond-to(md) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: rem(9);
    }

    .menu-item {
        margin-right: rem(15);
        
        @include respond-to(md) {
            margin-right: rem(12);
        }

        &:last-child {
            margin-right: rem(0);
        }

        a {
            
            @include typography(400,13,$font-default);
            box-shadow: 0 0 1px transparent;
            color: cl(titles, grayLight);
            display: inline-block;
            line-height: rem(25);
            letter-spacing: rem(2.7);
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            transform: perspective(1px) translateZ(0);
            transition-property: color;
            transition-duration: 0.3s;
            vertical-align: middle;
            padding-bottom: rem(10);
              
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-bottom: rem(3) solid cl(btns, primary);
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            
            &:hover:before, &:focus:before, &:active:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

            @include respond-to(lg) {
                font-size: rem(14);
            }

            // &:hover {
            //     border-bottom: rem(3) solid cl(btns, primary);
            // }
        }
    }
}