.#{$prefix}-section-feedback-img {
    $self: &;  
    @extend %boxFull;
    @extend %offsetMargin;
    position: relative;
    height: rem(690);
    margin: 0;
    
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url('../images/feedback.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -2;        
    }
}

.#{$prefix}-section-feedback {
    $self: &;  
    @extend %boxFull;
    position: relative;
    background: rgb(75,19,252);
    background: linear-gradient(170deg,#7823c1 0,#7823c1 100%);
    padding: rem(30) rem(0);
    
    @include respond-to(sm) {
        padding: rem(60) rem(0);
    }

    &:before {
        
        @include respond-to(sm) {
            content: '';
            position: absolute;
            height: rem(300);
            width: 100%;
            z-index: -1;
            background: url('../images/before-feedback.png') no-repeat;
            background-position: center;
            top: rem(-299);
        }

        @include respond-to(wd) {
            display: none;
        }
    }

    &:after {
        
        @include respond-to(md) {
            content: '';
            position: absolute;
            height: rem(300);
            width: 100%;
            z-index: -1;
            background: url('../images/before-feedback.png') no-repeat;
            background-position: center;
            bottom: rem(-299);
            transform: rotate(180deg);
        }

        @include respond-to(wd) {
            display: none;
        }
    }
}

.#{$prefix}-component-wrap-feedback { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    @include respond-to(md) {
        flex-direction: inherit;
    }
    
}

.#{$prefix}-section-feedback-head {
    display: flex; 
    align-items: center;
    text-align: center;
    justify-content: center;
    //margin-bottom: rem(15);
    flex-direction: column;
    width: 100%;
    
    @include respond-to(sm) {
        text-align: left;
    }

    @include respond-to(md) {
        align-items: baseline;
        width: 30%;
    }

    @include e('title') {
        @include typography(600,40,$font-secondary);
        color: cl(titles, white);
        line-height: 1;
        margin: rem(15) rem(0);
        word-break: break-word;
        
        @include respond-to(sm) {
            font-size: rem(46);
        }
        
        @include respond-to(lg) {
            //font-size: rem(48);
        }
    }

    @include e('desc') {
        @include typography(100,20,$font-default);
        color: cl(titles, white);
        line-height: rem(30);
        margin-bottom: rem(30);
    }
}

.#{$prefix}-component-wrap-feedback-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    @include respond-to(sm) {
        margin-top: rem(40);
    }

    @include respond-to(md) {
        width: 50%;
        margin-top: rem(-222);
    }

    @include respond-to(lg) {
        margin-right: rem(50);
    }
    
    @include respond-to(wd) {
        margin-top: rem(-120);
    }

    @include e('item') {
        display: flex;
        flex-direction: column;
        background: white;
        align-items: center;
        justify-content: center;
        padding: rem(15);
        border-radius: rem(15);
        margin: rem(20) rem(0);
        box-shadow: 0 0 rem(10) rem(1) rgba(0, 0, 0, 0.13);
        text-align: center;
        
        
        @include respond-to(sm) {
            text-align: left;
            padding: rem(30);
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        
        @include respond-to(md) {
            margin-left: rem(-100);

        }

        .figure {
            height: rem(134);
            width: rem(134);
            border-radius: rem(80);
            padding: rem(4);
            background: rgb(75,19,252);
            background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
            position: relative;
            margin: rem(25) rem(0);
            
            @include respond-to(sm) {
                margin: rem(0);
                width: rem(150);
            }
            
            @include respond-to(md) {
                width: rem(134);
                margin-right: rem(-90);

            }

            &:before {
                content: '';
                position: absolute;
                right: rem(-19);
                top: rem(20);
                background: orange;
                height: rem(17);
                width: rem(17);
                border-radius: rem(40);
            }
        }

        .legend {
            width: 89%;
            display: flex;
            flex-direction: column-reverse;
            
            @include respond-to(sm) {
                display: inherit;
                flex-direction: column;
            }

            .tit {
                @include typography(600,22,$font-secondary);
                color: cl(titles, black);
                line-height: 1;
                margin-bottom: rem(15);
                
                @include respond-to(sm) {
                    margin: rem(15) rem(0) rem(0);
                    font-size: rem(26);
                }
                
                @include respond-to(md) {}
            }
            
            .desc {
                @include typography(100,18,$font-default);
                line-height: rem(30);
            }
        }

        &:nth-child(2), &:nth-child(4) {
            
            @include respond-to(md) {
                left: rem(-60);
                position: relative;

            }
        }
    }

}