.#{$prefix}-section-programa {
    $self: &;  
    @extend %boxFull; 
    @extend %offsetMargin;   
}

.#{$prefix}-section-jornada {
    $self: &;  
    @extend %boxFull;

    @include respond-to(md) {
        margin-bottom: rem(60);
    }
    
    @include e('btn') {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: rem(15) rem(0);
        
        @include respond-to(sm) {
            margin: rem(60) rem(0);
        }
        
        @include respond-to(md) {
            margin: rem(15) rem(0) rem(90);
        }
    }
}

.#{$prefix}-section-jornada-head {
    display: flex; 
    align-items: center;
    justify-content: center;
    //margin-bottom: rem(15);
    flex-direction: column;
   

    @include e('title') {
        @include typography(600,31,$font-secondary);
        color: cl(titles, orange);
        line-height: 40px;
        margin: rem(0) rem(0) rem(15) rem(0);
        text-align: center;
        
        @include respond-to(sm) {
            text-align: left;
            font-size: rem(35);
        }
    }
    
    @include e('desc') {
        @include typography(100,20,$font-default);
        color: cl(titles, graySlim);
        line-height: 1;
        text-align: center;
        width: 100%;
        
        @include respond-to(sm) {
            text-align: left;
        }
    }
}

.#{$prefix}-component-wrap-sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(md) {
        flex-direction: inherit;
    }
    
    @include e('txt') {
        @extend %boxFull;
        display: flex;
        flex-direction: column;
        
        @include respond-to(sm) {

        }
        
        @include respond-to(md) {
            align-items: baseline;
            width: 45%;
        }

        .title {
            @include typography(600,45,$font-secondary);
            color: cl(titles, black);
            line-height: 1;
            margin-bottom: rem(30);

            @include respond-to(sm) {
                font-size: rem(45);
            }

            @include respond-to(md) {
                font-size: rem(59);
            }
        }

        .line {
            background: rgb(75,19,252);
            border-radius: rem(20);
            background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
            float: left;
            height: rem(7);
            width: rem(100);
            margin: 0;
        }

        .desc {
            @include typography(100,16,$font-default);
            color: cl(titles, graySlim);
            line-height: rem(30);
            margin-top: rem(30);
        }
    }
    
    @include e('figure') {
        @extend %boxFull;
        position: relative;
        height: rem(370);
        margin-top: rem(30);
        
        @include respond-to(sm) {
            height: rem(440);
        }
        
        @include respond-to(md) {
            margin-top: rem(0);
            width: 50%;
        }
    }

    @include e('video') {
        @extend %boxFull;
        position: absolute;
        height: 100%;
        z-index: 9;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .thumb {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: rem(10);
        }

        &:before {
            content: '';
            background: orange;
            height: rem(100);
            width: rem(100);
            border-radius: rem(90);
            position: absolute;
            top: rem(34);
            right: rem(-50);
        }
        
    }
    
    @include e('play') {
        background: url('../images/play.png') no-repeat;
        background-size: contain;
        width: rem(90);
        z-index: 9;
        height: rem(90);
        position: relative;    
        transition: all .5s;
        bottom: rem(-20);
        
        @include respond-to(sm) {
            background-size: cover;
            width: rem(120);
            height: rem(120);
        }

        &:hover {
            bottom: rem(0);
        }
    }

}


.#{$prefix}-component-wrap-jornada {
    display: flex;  
    flex-wrap: wrap;

    @include e('item') {
        width: 100%;
        margin: rem(15);

        &:first-child {
            margin: 0 0 rem(30) 0;

            @include respond-to(sm) {
                margin: rem(15);
            }
            
            @include respond-to(md) {
                margin: rem(55);
            }
        }
        
        @include respond-to(sm) {
            width: 45%;
            margin: rem(15);
        }

        @include respond-to(md) {
            width: 21%;
            margin: rem(55);
        }
        
        @include respond-to(lg) {
            width: 24%;
        }
    }
    
    @include e('figure') {
        width: 100%;
        text-align: center;
        height: rem(100);
        display: flex;
        align-items: center;
        justify-content: center;
        
        .thumb {
            width: auto;
        }
    }
    
    @include e('info') {
        text-align: center;

        .title {
            @include typography(600,26,$font-secondary);
            color: cl(titles, black);
            line-height: 1;
            margin: rem(15) rem(0);
        }
        .desc {
            @include typography(100,16,$font-default);
            color: cl(titles, graySlim);
            line-height: 30px;
        }
    }
}