.#{$prefix}-section-news {
    $self: &;  
    @extend %boxFull; 
    @extend %offsetMargin;   

    @include e('btn') {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: rem(15) rem(0);
        
        @include respond-to(sm) {
            margin: rem(60) rem(0);
        }
        
        @include respond-to(md) {
            margin: rem(60) rem(0) rem(0);
        }
    }
}

.#{$prefix}-component-wrap-news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    
    @include respond-to(sm) {
        margin-top: rem(60);
    }

    @include respond-to(md) {
        //margin-top: rem(160);
    }
    
    @include respond-to(wd) {
        margin-top: rem(0);
    }

    &:before {
        display: none;
        
        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/before-post.png') no-repeat;
            background-size: contain;
            background-position: center;
            height: rem(380);
            width: rem(380);
            top: rem(-30);
            right: rem(-120);
            z-index: -1;
        }
        
        @include respond-to(wd) {
            //display: none;
        }
    }

    &:after {
        display: none;
        
        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/after-post.png') no-repeat;
            height: rem(310);
            width: rem(320);
            z-index: -1;
            bottom: rem(0);
            left: rem(-100);
            background-position: center;
        }
        
        @include respond-to(wd) {
            //display: none;
        }
    }


    
    
    @include respond-to(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.#{$prefix}-component-news-article {
    $self: &;  
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    margin-bottom: rem(60);
    
    @include respond-to(sm) {
        flex-direction: row;   
    }
    
    @include respond-to(md) {
        margin-bottom: rem(90);
    }
    
    @include m('reverse') {
        margin-bottom: rem(0);
        flex-direction: column; 
        
        
        @include respond-to(sm) {
            flex-direction: row-reverse; 
        }
        
        @include e('figure', $self) {
            margin-right: rem(0);
            
            @include respond-to(sm) {
                margin-left: rem(30);
            }
        }
        
        @include e('legend', $self) {
            text-align: left;
            
            @include respond-to(sm) {
                text-align: right;
            }
        }
    }

    @include e('figure') {
        width: 100%;
        float: left;
        margin-bottom: rem(15);
        
        @include respond-to(sm) {
            margin-bottom: rem(0);
            max-width: rem(437);
            margin-right: rem(30);
            width: 50%;
        }

        .thumb {
            width: 100%;
            height: rem(265);
            object-fit: cover;
            border-top-left-radius: rem(80);
            border-bottom-right-radius: rem(80);
            
            @include respond-to(sm) {
                height: rem(334);
            }
        }
    }
    
    @include e('legend') {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        
        @include respond-to(sm) {
            width: 45%;
        }
        
        @include respond-to(md) {
            width: 40%;
        }

        a {
            text-decoration: none;
        }
    }
    
    @include e('title') {
        @include typography(600,40,$font-secondary);
        color: cl(titles, black);
        line-height: rem(45);
        margin: rem(0);
        
        @include respond-to(md) {
            font-size: rem(38);
        }
    }

    @include e('desc') {
        @include typography(100,18,$font-default);
        color: cl(titles, gray);
        line-height: rem(30);
        margin: rem(15) rem(0);
        word-break: break-all;
        
        @include respond-to(sm) {
            font-size: rem(18);
        }
    }
    
    @include e('link') {
        @include typography(800,16,$font-secondary);
        color: cl(titles, purple);
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        
        .fa-angle-right {
            font-size: rem(20);
        }
        
        &:hover {
            color: cl(titles, orange);
        }
    }
}

.#{$prefix}-section-blog-head {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    @include respond-to(md){
        margin-top: rem(70);
    }
    

    @include e('title') {
        @include typography(600,45,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin-bottom: rem(30);

        @include respond-to(sm) {
            font-size: rem(45);
        }

        @include respond-to(md) {
            font-size: rem(59);
        }
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
    
}