.#{$prefix}-section-inscricoes {
    $self: &;  
    @extend %boxFull;
    @extend %offsetMargin;
}

.#{$prefix}-component-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include respond-to(sm) {
        flex-direction: inherit;
    }
    
    @include e('figure') {
        @extend %boxFull;
        margin: rem(0);
        position: relative;

        .image {
            position: relative;
            z-index: 9;
        }
        .image-effect1 {
            position: absolute;
            z-index: 2;
        }
        .image-effect2 {
            bottom: 0;
            position: absolute;
            z-index: 0;
        }
        
        @include respond-to(sm) {
            width: 50%;
        }
    }
    
    @include e('text') {
        @extend %boxFull;
        
        @include respond-to(sm) {
            width: 45%;
        }
        
        .title {
            @include typography(600,50,$font-secondary);
            color: cl(titles, orange);
            line-height: 1;
            margin-bottom: rem(25);
            text-align: center;
            
            @include respond-to(sm) {
                font-size: rem(50);
                text-align: left;
            }

            @include respond-to(md) {
                font-size: rem(70);
            }
            
            @include respond-to(lg) {
                font-size: rem(87);
            }
        }
        
        p {
            @include typography(100,30,$font-secondary);
            color: cl(titles, balckSlim);
            line-height: 1;
            text-align: center;
            margin-bottom: rem(30);
            
            @include respond-to(sm) {
                text-align: left;
            }

            @include respond-to(md) {
            }
        }

        .ctas {
            display: flex;
            justify-content: space-between;
            width: 100%;
            float: left;
            
            @include respond-to(sm) {
                width: auto;
            }

            .pa-btn--inscrever {
                font-size: 12px;
                margin-right: 5px;
            }
        }

    }

    @include e('scroll') {
        display: flex;
        justify-content: center;
    }
}

.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 1.2em;
    font-size: 22px;
    color: cl(btns, primary);
    border-radius: 2em;
    border: solid 2px;
    transition: .4s;
}
  
.scroll-icon:hover {
    background-color: rgba(purple, .05);
    color: cl(btns, primary);
}
  
.scroll-icon::after {
    content: '';
    height: rem(10);
    width: rem(5);
    background-color: cl(btns, primary);
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}
  
@keyframes scroll-icon {
    0% { transform: translateY(-12px); opacity: 0; }
    30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
}