.#{$prefix}-section-startups{
    @extend %boxFull;
    padding: rem(30) rem(0);
    background:#6a2ae7;
    
    @include respond-to(md) {
        padding: rem(60) rem(0);
    }

    .#{$prefix}-section-startups__h3 {
        @include typography(600,40,$font-secondary);
        color:#fff;
        text-align: center;
    }

    .#{$prefix}-section-startups__linha{
        border-radius: 1.25rem;
        background:white;
        height: .4375rem;
        width: 6.25rem;
        margin: 0 auto;
    }

    .#{$prefix}-section-startups-cards{
        display:grid;
        grid-gap: rem(12) rem(30);
        grid-template-columns: repeat(auto-fit, 42%);
        margin-top: rem(30);
        
        
        @include respond-to(md) {
            grid-gap: 7.4%;
            grid-template-columns: repeat(auto-fit, 13.79%);
            margin-top: rem(60);
        }

       
    }

    .#{$prefix}-section-startups-card{
        @include size(rem(140));
        @extend %transitionAll;
        @include radius(rem(15));
        background-color:white;
        display: flex;
        align-items:center;
        justify-content:center;

        @include respond-to(md) {
            @include size(rem(163));
        }

        &:hover {
            background-color: #e1e1e1;
        }
    }

    .#{$prefix}-section-startups-thumb{
        width:98%;
        max-height: 150px;
    }

}