.#{$prefix}-section-teses {
    $self: &;  
    @extend %boxFull;
    @extend %offsetMargin;
    background: cl(gray);
    position: relative;
    
    @include respond-to(sm) {
        margin: 0;
    }
    
    @include respond-to(md) {
        margin: rem(60) rem(0)
    }
    
    @include respond-to(wd) {
        padding: rem(100) 0 rem(60);
    }

    &:before {
        display: none;

        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/before-section-tese.png') no-repeat;
            height: rem(320);
            width: 100%;
            top: rem(-320);
            z-index: -1;
            background-position: center;
            visibility: visible;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-name: fadeInUp;
        }
        
        @include respond-to(wd) {
            display: none;
        }
    }
    
    &:after {
        display: none;

        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/after-section-tese.png') no-repeat;
            height: rem(321);
            width: 100%;
            z-index: -1;
            bottom: rem(-313);
            background-position: center;
            visibility: visible;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-name: fadeInDown;
        }

        @include respond-to(wd) {
            display: none;
        }
    }
}

.#{$prefix}-component-wrap-teses {
    display: flex;
    flex-direction: column;
    
    @include respond-to(md) {
        flex-direction: row;
    }

    &:before {
        display: none;
        
        @include respond-to(md) {
            content: '';
            position: absolute;
            background: url('../images/before-tese.png') no-repeat;
            height: rem(147);
            width: rem(229);
            right: 17%;
            top: rem(-230);
            display: block;
            background-position: center;
            visibility: visible;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-name: fadeInUp;
        }
        
        @include respond-to(wd) {
            top: rem(-70);
        }
    }

    @include e('figure') {
        width: 100%;
        margin: rem(60) rem(0) rem(15);
        
        @include respond-to(sm) {
            height: rem(350);
            position: relative;

            .thumb {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        @include respond-to(md) {
            margin: rem(0);
            width: 50%;
        }
        
    }
    
    @include e('text') {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        @include respond-to(md) {
            width: 50%;
        }

        .bloco {
            display: flex;
            flex-direction: column;
            
            @include respond-to(sm) {
                flex-direction: row;
            }
        }
        .title {
            @include typography(600,45,$font-secondary);
            color: cl(titles, black);
            line-height: 1;
            margin-bottom: rem(30);

            @include respond-to(sm) {
                font-size: rem(45);
            }

            @include respond-to(md) {
                font-size: rem(59);
            }
        }

        .line {
            background: rgb(75,19,252);
            border-radius: rem(20);
            background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
            float: left;
            height: rem(7);
            width: rem(100);
            margin: 0;
        }

        .desc {
            @include typography(100,20,$font-default);
            color: cl(titles, graySlim);
            line-height: rem(35);
            margin-top: rem(30);
        }

        .bloco-interesse {
            margin-top: rem(30);
            width: 100%;
            float: left;
            //margin-left: rem(15);
            margin-bottom: rem(15);
            
            @include respond-to(sm) {
                width: 45%;
                margin-bottom: rem(0);
                //margin-left: rem(50);
            }

            .tit {
                @include typography(600,18,$font-secondary);
                color: cl(titles, orange);
                margin-left: rem(0);
                
                @include respond-to(sm) {
                    margin-left: rem(-16);
                }
            }
            
            .interesses {
                @include typography(100,20,$font-default);
                color: cl(titles, graySlim);
                line-height: rem(35);
                margin-top: rem(15);
                
                
                @include respond-to(sm) {
                    //column-count: 2;
                }
                
                .item {
                    @include typography(100,16,$font-default);
                    color: cl(titles, graySlim);
                    margin: rem(15) rem(0);
                    position: relative;
                    
                    em {
                        font-size: 14px$i;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: rem(-16);
                        top: rem(4);
                        width: rem(10);
                        height: rem(10);
                        color: cl(titles, primary);
                        background: url('../images/interesse.png') no-repeat;
                    }

                    &:first-child, &:last-child {
                        margin-top: rem(0);
                    }
                }
            }
        }

        .bloco-interesse--tec {
            
            @include respond-to(sm) {
                margin-left: rem(40);
            }
        }
    }

}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}