.#{$prefix}-section-mentores {
    $self: &;  
    @extend %boxFull;
    margin-bottom: rem(30);
    
}

.#{$prefix}-component-wrap-mentores { 
    position: relative;
    margin-top: rem(15);
    
    @include respond-to(sm) {
        margin-top: rem(60);
    }
    
    @include respond-to(md) {
        margin-top: rem(220);
    }
}

.#{$prefix}-section-mentores-head {
    display: flex; 
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    
    @include respond-to(md) {
        position: absolute;
        top: rem(-100);
    }

    @include e('title') {

        @include typography(600,45,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin-bottom: rem(30);

        @include respond-to(sm) {
            font-size: rem(45);
        }

        @include respond-to(md) {
            font-size: rem(59);
        }
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
    
}

.#{$prefix}-component-wrap-mentores-owl { 

    @include e('item') {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        @include respond-to(sm) {
            flex-direction: row-reverse;
        }

        .figure {
            width: 100%;
            float: left;
            position: relative;
            margin-top: rem(30);
            display: flex;
            align-items: center;
            justify-content: center;
            
            @include respond-to(sm) {
                height: rem(400);
                margin-top: rem(0);
                width: 50%;
            }

            img {
                max-width: 60%;
                float: left;
            }

            // &:before {
            //     content: '';
            //     background: orange;
            //     height: rem(25);
            //     width: rem(25);
            //     border-radius: rem(90);
            //     position: absolute;
            //     top: rem(50);
            //     right: rem(35);
                
            //     @include respond-to(sm) {
            //         height: rem(50);
            //         width: rem(50);
            //         top: rem(110);
            //         right: rem(70);
                    
            //     }
            // }
        }
        
        .legend {
            width: 100%;
            float: left;
            text-align: center;
            
            @include respond-to(sm) {
                width: 45%;
                text-align: left;
            }

            .tit {
                @include typography(100,26,$font-default);
                color: cl(titles, purple);
                line-height: 1;
                margin: rem(30) rem(0);
                
                @include respond-to(sm) {
                    margin-bottom: rem(30);
                }
                
                @include respond-to(md) {
                    margin: rem(50) rem(0) rem(30);
                }
            }
            
            .desc {
                @include typography(100,16,$font-default);
                color: cl(titles, graySlim);
                line-height: rem(25);
            }
        }

    }

    
}

#pa-component-owl {

    .owl-controls {
    
        .owl-nav {
        
            .owl-prev {
                left: 0px $i;
            }
        
            .owl-next {
                right: 0px $i;
            }
        }
    }
}