.#{$prefix}-section-beneficios {
    $self: &;  
    @extend %boxFull;
    @extend %offsetMargin;
    position: relative;
    background: cl(gray);
    margin-bottom: rem(0);
    
    &:before {
        display: none;
        
        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/before-beneficios.png') no-repeat;
            height: rem(321);
            width: 100%;
            z-index: -1;
            top: rem(-200);
            left: 0;
            background-position: center;
            visibility: visible;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-name: fadeInUp;
        }
        
        @include respond-to(wd) {
            display: none;
        }
    }

    &:after {
        display: none;
        
        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/after-beneficios.png') no-repeat;
            height: rem(321);
            width: 100%;
            z-index: -1;
            bottom: rem(-200);
            left: 0;
            background-position: center;
            visibility: visible;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-name: fadeInDown;
        }
        
        @include respond-to(wd) {
            display: none;
        }
    }

    @include respond-to(sm) {
        padding-bottom: rem(30);
    }

    @include respond-to(wd) {
        padding-bottom: rem(60);
    }
}

.#{$prefix}-section-beneficios-head {
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: rem(30);
    position: relative;
    
    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }

    @include e('img') {
        display: none;

        @include respond-to(md) {
            right: rem(80);
            height: rem(400);
            width: rem(466);
            position: absolute;
            top: rem(-250);
            display: block;
            background-position: center;
            visibility: visible;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-name: fadeInLeft;
        }   
        
        @include respond-to(lg) {
            right: rem(250);

        }
    }

    @include e('title') {

        @include typography(600,45,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin: rem(30) rem(0);

        @include respond-to(sm) {
            font-size: rem(45);
        }

        @include respond-to(md) {
            font-size: rem(40);
        }
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
    
}

.#{$prefix}-component-wrap-beneficios {
    display: flex;
    flex-wrap: wrap;

    @include e('item') {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        margin: rem(23);

        @include respond-to(sm) {
            width: 43%;
        }

        @include respond-to(md) {
            width: 20%;
        }

        @include respond-to(lg) {
            width: 29%;
        }

        .figure {
            width: rem(142);
            background: rgb(75,19,252);
            background: linear-gradient(50deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 90%);
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(142);
            border-radius: 80px;

            .thumb {
                width: auto;
            }
        }

        .legend {


            .tit {
                @include typography(600,17,$font-secondary);
                color: cl(titles, black);
                line-height: 1;
                margin: rem(15) rem(0);
                
                @include respond-to(sm) {}
                
                @include respond-to(md) {
                    
                }
            }
            
            .desc {
                @include typography(100,18,$font-default);
                color: cl(titles, graySlim);
                line-height: rem(30);
            }
        }
    }
}

.#{$prefix}-beneficio-cta {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}