.#{$prefix}-section-investimento {
    $self: &;  
    @extend %boxFull;
}

.#{$prefix}-header-investimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: rem(40);

    .line {
        border-radius: 1.25rem;
        background: -webkit-gradient(linear,left top,right top,from(#4b13fc),to(#fa530b));
        background: -webkit-linear-gradient(left,#4b13fc 0,#fa530b 100%);
        background: linear-gradient(90deg,#4b13fc 0,#fa530b 100%);
        float: left;
        height: .4375rem;
        width: 6.25rem;
        margin: 0;
    }
    
    @include respond-to(sm) {
        margin-top: rem(90);
    }

    @include e('title') {
        @include typography(600,40,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        text-align: center;

        @include respond-to(sm) {
           font-size: rem(50);
        }
    }

    @include e('text') {
        @include typography(100,20,$font-default);
        color: cl(titles, graySlim);
        line-height: rem(30);
        text-align: center;
    }
}
