.#{$prefix}-section-cronograma {
    $self: &;  
    @extend %boxFull;
    @extend %offsetMargin;
    position: relative;

    &:before {
        display: none;

        @include respond-to(md) {
            content: '';
            display: block;
            position: absolute;
            background: url('../images/cronograma.png') no-repeat;
            height: rem(321);
            width: 100%;
            z-index: -1;
            top: rem(-200);
            left: rem(-420);
            background-position: center;
           
        }
    }
}

.#{$prefix}-section-cronograma-head {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: rem(30);
    
    
    @include respond-to(sm) {
        margin-bottom: rem(90);
    }

    @include e('title') {

        @include typography(600,45,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin-bottom: rem(30);

        @include respond-to(sm) {
            font-size: rem(45);
        }

        @include respond-to(md) {
            font-size: rem(59);
        }
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
    
}

.#{$prefix}-component-wrap-cronograma {
    display: flex;
    position: relative;
    flex-direction: column;
    
    @include respond-to(sm) {
        flex-wrap: wrap;
        flex-direction: inherit;
        justify-content: space-between;
    }
    
    @include respond-to(md) {
        justify-content: inherit;
        flex-wrap: inherit;
        margin-top: 200px;

    }

    &:before {
        display: none;

        @include respond-to(md) {
            content: '';
            top: rem(265);
            border-top: 3px solid #6a2ae7;
            //background: url('../images/timeline.png') no-repeat;
            //background-size: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            display: block;
            //transform: rotate(368deg);
            //left: -50px;
        }

        @include respond-to(lg) {
            //top: rem(170);
        }
    }

    @include e('item') {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
        margin-bottom: rem(30);
        height: auto;
        
        @include respond-to(sm) {
            width: 45%;
        }

        @include respond-to(md) {
            height: rem(390);
            width: 25%;

            &:first-child() {
                height:rem(340);
            }
            &:nth-child(2) {
                margin-top: rem(175);
                height: rem(390);
            }
            &:nth-child(3) {
                height: rem(460);
                margin-top: -128px;
                align-items: center;
            }
            // &:nth-child(4) {
            //     margin-top: 360px;
            //     height: 630px;
            // }
            &:last-child() {
                align-items: flex-end;
                height: rem(470);
                
                @include respond-to(sm) {
                    align-items: baseline;
                }
                
                @include respond-to(md) {
                    align-items: flex-end;
                    margin-top: rem(170); 
                    margin-right: 0;  
                }
    
                .pa-component-wrap-cronograma__info {
                    text-align: right;
                }
            }
        }
        
        @include respond-to(lg) {
            height: rem(340);
        }
        
        @include m('reverse') {
            
            @include respond-to(md) {
                height: rem(590);
                margin: 0 rem(40);
                flex-direction: column-reverse;
                margin-top: rem(320);
            }
            
            @include respond-to(lg) {
                margin-top: rem(0);
                //height: rem(360);
            }

            .pa-component-wrap-cronograma__figure {
                margin-top: rem(0);
                
                @include respond-to(sm) {
                    margin-top: rem(30);
                }
            }
        }
        

    }

    @include e('info') {

        .data {
            @include typography(600,27,$font-secondary);
            color: cl(titles, orange);
            line-height: 1;
        }

        .title {
            @include typography(600,17,$font-secondary);
            color: cl(titles, black);
            line-height: 1;
            margin: rem(15) rem(0);
        }
        
        .desc {
            @include typography(100,16,$font-default);
            color: cl(titles, graySlim);
            line-height: rem(25);

        }
    }

    @include e('figure') {
        height: rem(130);
        width: rem(130);
        position: relative;
        border: rem(1) solid rgba(221, 221, 221, 0.9);
        box-shadow: 0 0 rem(5) 0 rgba(199, 199, 199, 0.9);
        border-radius: rem(70);
        display: none;
        align-items: center;
        float: left;
        background: #fff;
        
        @include respond-to(md) {
            display: flex;
        }

        .thumb {
            position: absolute;
            width: 100%;
            height: rem(70);
            object-fit: contain;
        }
    }
}