// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$after-beneficios-name: 'after-beneficios';
$after-beneficios-x: 2093px;
$after-beneficios-y: 1267px;
$after-beneficios-offset-x: -2093px;
$after-beneficios-offset-y: -1267px;
$after-beneficios-width: 1971px;
$after-beneficios-height: 90px;
$after-beneficios-total-width: 4160px;
$after-beneficios-total-height: 1937px;
$after-beneficios-image: '../images/sprite.png';
$after-beneficios: (2093px, 1267px, -2093px, -1267px, 1971px, 90px, 4160px, 1937px, '../images/sprite.png', 'after-beneficios', );
$after-feedback-name: 'after-feedback';
$after-feedback-x: 2093px;
$after-feedback-y: 0px;
$after-feedback-offset-x: -2093px;
$after-feedback-offset-y: 0px;
$after-feedback-width: 2067px;
$after-feedback-height: 277px;
$after-feedback-total-width: 4160px;
$after-feedback-total-height: 1937px;
$after-feedback-image: '../images/sprite.png';
$after-feedback: (2093px, 0px, -2093px, 0px, 2067px, 277px, 4160px, 1937px, '../images/sprite.png', 'after-feedback', );
$after-post-name: 'after-post';
$after-post-x: 3219px;
$after-post-y: 610px;
$after-post-offset-x: -3219px;
$after-post-offset-y: -610px;
$after-post-width: 375px;
$after-post-height: 314px;
$after-post-total-width: 4160px;
$after-post-total-height: 1937px;
$after-post-image: '../images/sprite.png';
$after-post: (3219px, 610px, -3219px, -610px, 375px, 314px, 4160px, 1937px, '../images/sprite.png', 'after-post', );
$after-section-tese-name: 'after-section-tese';
$after-section-tese-x: 0px;
$after-section-tese-y: 1631px;
$after-section-tese-offset-x: 0px;
$after-section-tese-offset-y: -1631px;
$after-section-tese-width: 1921px;
$after-section-tese-height: 306px;
$after-section-tese-total-width: 4160px;
$after-section-tese-total-height: 1937px;
$after-section-tese-image: '../images/sprite.png';
$after-section-tese: (0px, 1631px, 0px, -1631px, 1921px, 306px, 4160px, 1937px, '../images/sprite.png', 'after-section-tese', );
$before-beneficios-name: 'before-beneficios';
$before-beneficios-x: 2093px;
$before-beneficios-y: 1137px;
$before-beneficios-offset-x: -2093px;
$before-beneficios-offset-y: -1137px;
$before-beneficios-width: 1966px;
$before-beneficios-height: 120px;
$before-beneficios-total-width: 4160px;
$before-beneficios-total-height: 1937px;
$before-beneficios-image: '../images/sprite.png';
$before-beneficios: (2093px, 1137px, -2093px, -1137px, 1966px, 120px, 4160px, 1937px, '../images/sprite.png', 'before-beneficios', );
$before-feedback-name: 'before-feedback';
$before-feedback-x: 0px;
$before-feedback-y: 1296px;
$before-feedback-offset-x: 0px;
$before-feedback-offset-y: -1296px;
$before-feedback-width: 2067px;
$before-feedback-height: 325px;
$before-feedback-total-width: 4160px;
$before-feedback-total-height: 1937px;
$before-feedback-image: '../images/sprite.png';
$before-feedback: (0px, 1296px, 0px, -1296px, 2067px, 325px, 4160px, 1937px, '../images/sprite.png', 'before-feedback', );
$before-post-name: 'before-post';
$before-post-x: 2719px;
$before-post-y: 610px;
$before-post-offset-x: -2719px;
$before-post-offset-y: -610px;
$before-post-width: 490px;
$before-post-height: 412px;
$before-post-total-width: 4160px;
$before-post-total-height: 1937px;
$before-post-image: '../images/sprite.png';
$before-post: (2719px, 610px, -2719px, -610px, 490px, 412px, 4160px, 1937px, '../images/sprite.png', 'before-post', );
$before-section-tese-name: 'before-section-tese';
$before-section-tese-x: 0px;
$before-section-tese-y: 936px;
$before-section-tese-offset-x: 0px;
$before-section-tese-offset-y: -936px;
$before-section-tese-width: 2062px;
$before-section-tese-height: 350px;
$before-section-tese-total-width: 4160px;
$before-section-tese-total-height: 1937px;
$before-section-tese-image: '../images/sprite.png';
$before-section-tese: (0px, 936px, 0px, -936px, 2062px, 350px, 4160px, 1937px, '../images/sprite.png', 'before-section-tese', );
$before-tese-name: 'before-tese';
$before-tese-x: 3826px;
$before-tese-y: 287px;
$before-tese-offset-x: -3826px;
$before-tese-offset-y: -287px;
$before-tese-width: 273px;
$before-tese-height: 155px;
$before-tese-total-width: 4160px;
$before-tese-total-height: 1937px;
$before-tese-image: '../images/sprite.png';
$before-tese: (3826px, 287px, -3826px, -287px, 273px, 155px, 4160px, 1937px, '../images/sprite.png', 'before-tese', );
$cronograma-name: 'cronograma';
$cronograma-x: 3462px;
$cronograma-y: 287px;
$cronograma-offset-x: -3462px;
$cronograma-offset-y: -287px;
$cronograma-width: 354px;
$cronograma-height: 263px;
$cronograma-total-width: 4160px;
$cronograma-total-height: 1937px;
$cronograma-image: '../images/sprite.png';
$cronograma: (3462px, 287px, -3462px, -287px, 354px, 263px, 4160px, 1937px, '../images/sprite.png', 'cronograma', );
$cvtt-name: 'cvtt';
$cvtt-x: 3826px;
$cvtt-y: 452px;
$cvtt-offset-x: -3826px;
$cvtt-offset-y: -452px;
$cvtt-width: 53px;
$cvtt-height: 28px;
$cvtt-total-width: 4160px;
$cvtt-total-height: 1937px;
$cvtt-image: '../images/sprite.png';
$cvtt: (3826px, 452px, -3826px, -452px, 53px, 28px, 4160px, 1937px, '../images/sprite.png', 'cvtt', );
$data-name: 'data';
$data-x: 4109px;
$data-y: 287px;
$data-offset-x: -4109px;
$data-offset-y: -287px;
$data-width: 30px;
$data-height: 24px;
$data-total-width: 4160px;
$data-total-height: 1937px;
$data-image: '../images/sprite.png';
$data: (4109px, 287px, -4109px, -287px, 30px, 24px, 4160px, 1937px, '../images/sprite.png', 'data', );
$feedback-name: 'feedback';
$feedback-x: 0px;
$feedback-y: 0px;
$feedback-offset-x: 0px;
$feedback-offset-y: 0px;
$feedback-width: 2083px;
$feedback-height: 926px;
$feedback-total-width: 4160px;
$feedback-total-height: 1937px;
$feedback-image: '../images/sprite.png';
$feedback: (0px, 0px, 0px, 0px, 2083px, 926px, 4160px, 1937px, '../images/sprite.png', 'feedback', );
$folder-name: 'folder';
$folder-x: 4109px;
$folder-y: 321px;
$folder-offset-x: -4109px;
$folder-offset-y: -321px;
$folder-width: 28px;
$folder-height: 21px;
$folder-total-width: 4160px;
$folder-total-height: 1937px;
$folder-image: '../images/sprite.png';
$folder: (4109px, 321px, -4109px, -321px, 28px, 21px, 4160px, 1937px, '../images/sprite.png', 'folder', );
$ilustra-4-name: 'ilustra-4';
$ilustra-4-x: 2093px;
$ilustra-4-y: 610px;
$ilustra-4-offset-x: -2093px;
$ilustra-4-offset-y: -610px;
$ilustra-4-width: 616px;
$ilustra-4-height: 517px;
$ilustra-4-total-width: 4160px;
$ilustra-4-total-height: 1937px;
$ilustra-4-image: '../images/sprite.png';
$ilustra-4: (2093px, 610px, -2093px, -610px, 616px, 517px, 4160px, 1937px, '../images/sprite.png', 'ilustra-4', );
$interesse-name: 'interesse';
$interesse-x: 4149px;
$interesse-y: 287px;
$interesse-offset-x: -4149px;
$interesse-offset-y: -287px;
$interesse-width: 8px;
$interesse-height: 9px;
$interesse-total-width: 4160px;
$interesse-total-height: 1937px;
$interesse-image: '../images/sprite.png';
$interesse: (4149px, 287px, -4149px, -287px, 8px, 9px, 4160px, 1937px, '../images/sprite.png', 'interesse', );
$play-name: 'play';
$play-x: 3604px;
$play-y: 610px;
$play-offset-x: -3604px;
$play-offset-y: -610px;
$play-width: 179px;
$play-height: 179px;
$play-total-width: 4160px;
$play-total-height: 1937px;
$play-image: '../images/sprite.png';
$play: (3604px, 610px, -3604px, -610px, 179px, 179px, 4160px, 1937px, '../images/sprite.png', 'play', );
$timeline-name: 'timeline';
$timeline-x: 2093px;
$timeline-y: 287px;
$timeline-offset-x: -2093px;
$timeline-offset-y: -287px;
$timeline-width: 1359px;
$timeline-height: 313px;
$timeline-total-width: 4160px;
$timeline-total-height: 1937px;
$timeline-image: '../images/sprite.png';
$timeline: (2093px, 287px, -2093px, -287px, 1359px, 313px, 4160px, 1937px, '../images/sprite.png', 'timeline', );
$spritesheet-width: 4160px;
$spritesheet-height: 1937px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($after-beneficios, $after-feedback, $after-post, $after-section-tese, $before-beneficios, $before-feedback, $before-post, $before-section-tese, $before-tese, $cronograma, $cvtt, $data, $feedback, $folder, $ilustra-4, $interesse, $play, $timeline, );
$spritesheet: (4160px, 1937px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
