/*
* Copyright: 2020  
* Desenvolvedor: Bruno Kiedis 
*/

@import 'vendor/base';
@import 'global/all';
@import 'modules/all';
@import 'partials/base';
@import 'pages/base';

* {
	appearance: none $i;
}

.main {
	@extend %boxFull;
    overflow: hidden;
}

.#{$prefix}-page {
	@extend %boxFull;
}

.#{$prefix}-section {
	@extend %boxFull;
}
.code {
	color: #62ff00; background: rgba(0, 0, 0, 0.8); position: fixed; z-index: 9999999999; height: 100%; width: 100%; top: 0; right: 0; padding: 15px 15px 15px 220px; overflow: auto;
}

#scroll {
    position:fixed;
	right:10px;
	z-index: 9999;
    bottom:10px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color:#6a2ae7;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#fff;
}
#scroll:hover {
    background-color:#2d2d2d;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}