/*------------------
|	BUTTONS
|------------------*/

.#{$prefix}-btn {
	$self: &;
	@include radius(rem(50));
	@include typography(600,14,$font-secondary);
	align-items: center;
	text-decoration: none;
	background: cl(btns, primary);
	color: cl(btns, white);
	display: flex;
	justify-content: center;
	padding: rem(10) rem(15);
	text-transform: uppercase;
	width: auto;
	max-width: auto;
	letter-spacing: rem(0.46);

	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: cl(orange);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	
	&:hover, &:focus, &:active {
		color: white;
	}
	
	&:hover:before, &:focus:before, &:active:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		border-radius: rem(20);
	}

	
	  
    
	$mods : white black orange primary;
	@each $color in $mods {
        @include m($color){
            background-color: cl(btns, $color) $i;
        	@if $color == white {
                color: cl(white) $i;
            }

            &:hover {
            	background-color: cl(btns, $color);
            }
        }
	}
	
	@include m('inscrever') {
		margin: 0 auto rem(25);
		font-size: rem(7);
		
		@include respond-to(sm) {
			font-size: rem(14);
			margin: 0;
		}

		.fa-angle-right {
			font-size: rem(21);
			margin-left: rem(5);
		}

		&:hover {
			background-color: cl(btns, white);
			color: cl(btns, white) $i;
		}
	}
	
	@include m('small') {
		width: 100px;
		font-size: 9px;
		float: left;
	}

	@include m('medium') {
		width: rem(250);
		height: rem(45);
	}

	@include m('large') {
		width: auto;
		height: rem(45);
		max-width: 100%;
	}
	
	@include m('white') {
		background: white;
		color: cl(titles, purple) $i;
	}
}