.wpcf7-form .wpcf7-not-valid {
    border: rem(1) solid cl(semantic, error) $i;
}

.wpcf7-not-valid-tip, .screen-reader-response {
    display: none;
}

.wpcf7-mail-sent-ok {
    background-color: cl(semantic, sucess);
    height: 40px;
    display: flex $i;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 15px 0;
    border-radius: 0;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.wpcf7-validation-errors {
    background-color: cl(semantic, error);
}

.wpcf7-mail-sent-ng {
    background-color: cl(semantic, info);
}
.wpcf7-mail-sent-ng, .wpcf7-validation-errors {
	@include typography(100, 16, $font-default);
    bottom: 0;
    color: cl(titles,white);
    display: block $i;
    left: 0;
    margin: 0;
    position: fixed;
    padding: rem(26);
    text-align: center;
    width: 100%;
    z-index: 9999; 

}


.wpcf7-form {
    width: 100%;
    float: left;
    
    @include respond-to(sm) {
        //width: 65%;
    }
    
    @include respond-to(md) {
        //width: 80%;
    }

    .wpcf7-form-control-wrap  {
        margin-bottom: rem(15);
        display: block;

        input, textarea {
            width: 100%;
            border: 0;
            resize: none;
            padding: rem(15);
            border-radius: rem(4);
            box-shadow: 0 0 rem(10) rem(1) rgba(0, 0, 0, 0.02);
            border: rem(1) solid rgb(106, 42, 232);

            &:focus {
                color: #495057;
                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                
                @include typography(100,14,$font-default);
                color: #c7c7c7;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                
                @include typography(100,14,$font-default);
                color: #c7c7c7;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                
                @include typography(100,14,$font-default);
                color: #c7c7c7;
            }
            &:-moz-placeholder { /* Firefox 18- */
                
                @include typography(100,14,$font-default);
                color: #c7c7c7;
            }
        }
    }

    input[type="submit"]  {
        @extend %transitionAll;
        @include radius(rem(3));
        @include typography(600,14,$font-secondary);
        align-items: center;
        text-decoration: none;
        background: cl(btns, primary);
        color: cl(btns, white);
        display: flex;
        justify-content: center;
        padding: rem(12) rem(40);
        text-transform: uppercase;
        letter-spacing: rem(0.46);
        border: 0;
        width: 100%;
        margin: 0 auto;
        
        @include respond-to(sm) {
            width: auto;
            max-width: rem(170);
        }

        &:hover {
            background: cl(semantic, sucess);
        }
    }
}