.mfp-modal {
  background: cl(black);
  width: auto;
  height: auto;
  max-width: rem(560);
  padding: rem(0);
  border-radius: rem(6);
  border: rem(6) solid cl(btns, primary);

  .mfp-close {
    background: transparent;
    color: cl(btns, white);
    font-size: rem(32);
    height: auto;
    line-height: 1;
    top: rem(43);
    right: rem(4);
    width: auto;
    padding: rem(0) rem(7);

    
    &:hover {
      background: cl(orange);
      border-radius: rem(3);
    }
  }

}

.#{$prefix}-component-iframe {
  height: rem(308);
  position: relative;
  z-index: 99;

  &.load {
    background: cl(black);
  }
}

.#{$prefix}-component-iframe iframe {
  @include size(100%);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 99;
}
