// Center Position
%centerPositionAll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.owl-carousel {

    .owl-controls {
        @extend %boxFull;
    }
    .owl-nav {
        display: block;
    }
    .owl-prev {
        left: -5%;
        
        &:before {
            content: "\f104";
        }
    }
    .owl-next {
        right: -5%;
        
        &:before {
            content: "\f105";
        }
    }

    .owl-prev,
    .owl-next {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        @include size(rem(50) rem(33));
        @include radius(50%);
        display: block;
        font-size: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease-in-out;
        z-index: 999;

        &:before {
            @extend %centerPositionAll;
            color: cl(btns, graySlim);
            font-size: rem(45);
            z-index: 99;
        }
    }
    
    .owl-dots {
        transform: translateY(150%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        
        @include respond-to(sm) {
            transform: translateY(750%);
        }
    }
    .owl-dots .owl-dot {
        @include size(rem(15), rem(15));
        @include radius(50%);
        background-color: cl(btns, graySlim);
        margin: 0 rem(5);
    }
}