.postnav {
    width: 100%;
    display: flex;
    height: rem(60);
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond-to(sm) {
        justify-content: center;
        margin: rem(30) 0 rem(0);
    }

    @include e('pag') {
        display: block;
    }

    @include e('wp') {
        display: none;
    }

    @include e('item') {
        background: cl(white);
        color: cl(white);
        display: inline-block;
        padding: rem(25);
        text-align: center;

        a {
            color: cl(white);
        }

        @include m('disable') {
            pointer-events: none;
            cursor: default;
            opacity: 0.2;
        }
    }
}

.wp-pagenavi {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0 $i;
    height: 45px;
    float: left;

    a, span {
        background-color: cl(white);
        border-radius: rem(3);
        color: cl(black);
        margin-right: rem(5);
        padding: rem(8) rem(12);

        &:hover {
           border: rem(1) solid cl(black);
        }

        &.current { 
            @include radius(rem(3));
            background-color: cl(purple);
            border: 0;
            color: cl(white);
            cursor: pointer;

            &:hover {
                color: cl(white);
                background-color: cl(orange);
            }

            &:after {
                display: none;
            }
        }
    }

    .pages, .last {
        display: none;
    }
}

.navwp {
    max-width: rem(500);
    width: 100%;
    margin: 0 auto;
}

.btn-wrap {

    text-align: center;
    margin-top: rem(20);

    > .btn {
        background: cl(black);
        color: cl(white);
    }
}

