.#{$prefix}-component-info-404 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: rem(30) rem(0);
    width: 100%;
    
    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }

    @include e('title') {
        @include typography(800,80,$font-secondary);
        color: cl(titles, purple);
        margin-top: rem(0);
        margin-bottom: rem(15);
        
        @include respond-to(md) {
            font-size: rem(100);
        }

        span {
            font-size: rem(40);
        }
        
    }
    
    @include e('subtitle') {
        @include typography(800,25,$font-secondary);
        color: cl(titles, gray);
        margin-top: rem(0);
        margin-bottom: rem(15);
        
        @include respond-to(md) {
            font-size: rem(23);
        }
        
        @include respond-to(lg) {
            font-size: rem(25);
        }
    }

    @include e('desc') {
        @include typography(100,20,$font-default);
        color: cl(titles, grayLight);
        margin-top: rem(0);
        margin-bottom: rem(15);
        text-align: center;
        
    }
}