.#{$prefix}-component-wrap-postagem {
    $self: &;  
    @extend %boxFull;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    @include respond-to(sm) {
        flex-direction: row;
    }
}


.#{$prefix}-component-article {
    width: 100%;
    float: left;
    margin-bottom: rem(30);
    display: flex;
    flex-direction: column;
    
    
    @include respond-to(sm) {
        width: 44%;
        margin: rem(18);
    }

    @include respond-to(md) {
        width: 29.39%;
    }

    @include respond-to(lg) {
        width: 30.15%;
    }
    
    @include e('figure') {
        width: 100%;
        height: rem(150);
        position: relative;
        
        @include respond-to(sm) {
            height: rem(250);
        }

        .thumb {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: rem(80);
            border-bottom-right-radius: rem(80);
        }
    }

    @include e('legend') {
        display: flex;
        flex-direction: column;
        margin-top: rem(10);

        a {
            text-decoration: none;
        }
    }

    @include e('categoria') {
        @include typography(700,14,$font-secondary);
        line-height: 1;
        margin-bottom: rem(10);
        display: flex;
        align-items: center;

        span {
            margin-left: rem(5);
            margin-top: rem(3);
        }
    }

    @include e('title') {
        @include typography(800,25,$font-secondary);
        color: cl(titles, black);
        margin-top: rem(0);
        margin-bottom: rem(15);

        @include respond-to(md) {
            font-size: rem(23);
        }

        @include respond-to(lg) {
            font-size: rem(25);
        }

        &:hover {
            color: cl(titles, graySlim);
        }
    }

    @include e('link') {
        @include typography(700,16,$font-secondary);
        color: cl(titles, purple);
        line-height: 1;
        text-decoration: none;
        
        &:hover {
            color: cl(titles, orange);
        }
    }
}

.#{$prefix}-component-wrap-newsletter { 
    width: 100%;
    background: cl(gray);
    display: flex;
    justify-content: space-between;
    padding: rem(60) 0;
    position: relative;
    margin: rem(60) rem(0);
    flex-direction: column;
    
    @include respond-to(md) {
        flex-direction: row;
    }

    &:before, &:after {
        content: '';
        background: cl(gray);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: -100%;
    }

    &:before {
        left: -100%;
    }
    


    @include e('header') {
        width: 100%;
        
        @include respond-to(sm) {
            text-align: center;
        }
        
        @include respond-to(md) {
            text-align: left;
            width: 50%;
        }

        .title {
            @include typography(800,25,$font-secondary);
            color: cl(titles, orange);
            margin-bottom: rem(15);
            line-height: 1;
        }   

        .desc {
            @include typography(100,16,$font-default);
            color: cl(titles, grayLight);
            line-height: 30px;
            
        }
    }
    
    @include e('form') {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include respond-to(sm) {
            margin-top: rem(30);
        }
        
        @include respond-to(md) {
            margin-top: rem(0);
            width: 45%;
        }

        .wpcf7-form {
            
            @include respond-to(sm) {
                width: 100%;
            }

            input[type=submit] {

                @include respond-to(sm) {
                    margin: 0 auto;
                }
                
                @include respond-to(md) {
                    margin: 0;
                }
            }
        }
    }
    
}


