.#{$prefix}-section-blog-banner {
    $self: &;  
    @extend %boxFull; 
    position: relative;
    min-height: rem(125);
    
    
    @include respond-to(sm) {
        min-height: rem(250);
    }

    @include respond-to(md) {
        min-height: rem(350);
    }
    
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.42);
    }
    .thumb {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    @include e('title') {
        @include typography(800,30,$font-secondary);
        color: cl(titles, white);
        margin-bottom: rem(15);
        position: absolute;
        bottom: rem(30);
        z-index: 1;

        @include respond-to(sm) {
            font-size: rem(48);
        }
    }
}

.#{$prefix}-section-postagem {
    @extend %boxFull; 
    display: flex;
    margin: rem(30) rem(0);
    
    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }

    @include e('title') {
        @include typography(800,33,$font-secondary);
        color: cl(titles, black);
        margin-bottom: rem(60);
        text-align: center;
    }
}