.#{$prefix}-single {
    @extend %boxFull; 
    margin: rem(30) rem(0);
    
    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }

    @include e('title') {
        @include typography(800,33,$font-secondary);
        color: cl(titles, black);
        margin-bottom: rem(60);
        text-align: center;
    }
}

.#{$prefix}-single-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    @include respond-to(sm) {
        flex-direction: row;
    }

    @include e('post') {
        width: 100%;
        float: left;

        @include respond-to(md) {
            width: 55%;
        }
    }

    @include e('article') {
        width: 100%;
        float: left;
        margin-bottom: rem(60);
    }

    @include e('header') {
        width: 100%;
    }

    @include e('head') {
        display: flex;
        align-items: center;
    }


    @include e('figure') {
        width: 100%;
        height: rem(230);
        position: relative;
        margin-bottom: rem(15);
        
        @include respond-to(sm) {
            height: rem(350);
        }
        
        .thumb{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: rem(40);
            border-bottom-right-radius: rem(40);
        }
    }

   
    @include e('categoria') {
        @include typography(700,14,$font-secondary);
        line-height: 1;
        margin-right: rem(15);
        display: flex;
        align-items: center;
        text-decoration: none;
        
        span {
            margin-left: rem(5);
            margin-top: rem(3);
        }
    }
    
    
    @include e('title') {
        @include typography(800,33,$font-secondary);
        color: cl(titles, black);
        text-decoration: none;
        margin-top: rem(0);
        margin-bottom: rem(10);
        
        @include respond-to(sm) {
            margin-bottom: rem(10);
        }
        
    }
    
    @include e('date') {
        @include typography(700,16,$font-secondary);
        color: cl(titles, purple);
        line-height: 1;
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
            @include typography(700,14,$font-secondary);
            margin-top: rem(3);
            margin-left: rem(5);
            display: inline-block;
        }
    }

    
    @include e('text') {
        @include typography(100,16,$font-default);
        color: cl(titles, grayLight);
        width: 100%;
        float: left;
        word-break: break-all;
        line-height: rem(30);

        @include respond-to(wd) {
            font-size: rem(18);
        }
    }

    @include e('tags') {
        margin-top: rem(15);
        display: inline-block;
        float: left;
        width: 100%;

        .tag {
            @include typography(800,14,$font-secondary);
            color: cl(titles, purple);
            line-height: 1;
            text-decoration: none;
            background: #f4f4f4;
            padding: rem(6) rem(10);
            display: inline-block;
            border-radius: rem(20);
            margin-bottom: rem(5);
    
            &:hover {
                color: cl(titles, orange);
            }
        }
    }
}

.#{$prefix}-section-outras {
    width: 100%;
    float: left;
    margin: rem(60) rem(0);
    display: flex;

    @include e('header') {
        width: 100%;
        margin-bottom: rem(60);
    }

    @include e('title') {

        @include typography(800,30,$font-secondary);
        color: cl(titles, black);
        line-height: 1;
        margin-top: rem(0);
        margin-bottom: rem(15);
    }

    .line {
        background: rgb(75,19,252);
        border-radius: rem(20);
        background: linear-gradient(90deg, rgba(75,19,252,1) 0%, rgba(250,83,11,1) 100%);
        float: left;
        height: rem(7);
        width: rem(100);
        margin: 0;
    }
}